.input{
    width: 60%;
}
.btt{
  padding: 10px 32px;
  border-radius: 8px;
}
.f {
    margin: 100px auto;
    position: relative;
    padding: 10px 5px;
    background: rgba(255, 255, 255, 0.37);
    font-size: 20px;
    font-family: 'Lora', serif;
    line-height: 1.5;
    border-radius: 10px;
    width: 60%;
    box-shadow: 5px 3px 30px black;
    overflow: hidden;
  }
  
  .f::before {
    content: '';
    margin: -35px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: (200px);
    z-index: -1;
  }
  .tp-button-row button,
  .tp-button-row a {
     margin-right: 8px;
  }
  .x{
    font-style: normal;
  }
